section{
    display: flex;
    height: 630px;
    border: 1px solid;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

div{
    margin-inline: 20px;
    border: 1px solid;
    width: 250px;
    height: 250px;
}

section div#div01{
    background-color: blue;
    width: 500px;
}

section div#div02{
    background-color: blue;
    
}

section div#div03{
    background-color: blue;
    width: 500px;
}

section div p{
    margin: 0;
    border: 1px solid;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
