header li,
header a {
  font-family: 'I hate Comic Sans';
}

header #informacoes {
  display: flex;
  margin-bottom: 20px;
}

header #informacoes figure {
  width: 140px;
  height: 130px;
  margin-right: 20px;
}

header #informacoes figure img {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

header #informacoes #conjunto {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header #informacoes #conjunto #titulo-descricao,
header #informacoes #conjunto #linguagens-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header #informacoes #conjunto #titulo-descricao h1 {
  font-family: 'Good Morning';
  color: #F8D66A;
}

header #informacoes #conjunto #titulo-descricao h3 {
  color: white;
}

header #informacoes #conjunto #linguagens-links #linguagens,
header #informacoes #conjunto #linguagens-links #links {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header #informacoes #conjunto #linguagens {
  margin-top: 10px;
}

header #informacoes #conjunto #linguagens a {
  color: black;
  display: inline-block;
  padding: 5px 5px 0 5px;
  margin-right: 5px;
  background-color: #F8D66A;
  text-decoration: none;
}

header #informacoes #conjunto #linguagens a:hover {
  color: #e752bf;
}

header #informacoes #conjunto #links span {
  display: inline-block;
  padding: 0 5px;
}

header #informacoes #conjunto #links a {
  color: white;
  display: inline-block;
  padding: 5px 5px 0 5px;
  text-decoration: none;
}

header #informacoes #conjunto #links a:hover {
  color: #e752bf;
}

header #informacoes #conjunto #linguagens a:last-child {
  margin-right: 0;
}

header #navegacao-busca {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #F8D66A;
}

header #navegacao-busca nav {
  width: 80%;
}

header #navegacao-busca nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header ul a {
  display: inline-block;
  color: black;
  font-weight: 900;
  transition: transform 0.3s ease-in-out;
}

header ul a:hover {
  color: #e752bf;
  transform: scale(1.1);
}

header #navegacao-busca #busca {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10%;
  margin-left: 20px;
}

header #navegacao-busca #busca form {
  width: 100%;
}

header #navegacao-busca #busca input[type="text"] {
  padding: 5px 30px 5px 5px;
  width: 100%;
  border: 1px solid #08050E;
}

header #navegacao-busca #busca .icone-busca {
  height: 90%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
}

header #navegacao-busca #busca .icone-busca img {
  display: inline-block;
  width: 24px;
  height: 100%;
}

/* Media Queries - Header - Início */

@media screen and (max-width: 960px) {
  header #informacoes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  header #informacoes figure {
    width: 30%;
    height: auto;
    margin-right: 0;
    margin-bottom: 40px;
  }

  header #informacoes figure img {
    margin-right: 0;
  }

  header #informacoes #conjunto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header #informacoes #conjunto #titulo-descricao,
  header #informacoes #conjunto #linguagens-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header #informacoes #conjunto #titulo-descricao {
    margin-bottom: 40px;
  }

  header #informacoes #conjunto #titulo-descricao h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  header #informacoes #conjunto #titulo-descricao h3 {
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
  }

  header #informacoes #conjunto #linguagens-links #linguagens,
  header #informacoes #conjunto #linguagens-links #links {
    justify-content: center;
    align-items: center;
  }

  header #informacoes #conjunto #linguagens-links #links {
    margin-top: 20px;
  }

  header #informacoes #conjunto #links a {
    padding: 0;
    text-align: center;
  }

  header #navegacao-busca {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  header #navegacao-busca nav {
    width: 100%;
    margin-bottom: 20px;
    background-color: #F8D66A;
  }

  header #navegacao-busca nav ul {
    flex-direction: column;
    justify-content: center;
  }

  header #navegacao-busca nav a {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  header #navegacao-busca nav a:hover {
    transform: scale(1);
  }

  header #navegacao-busca nav a:last-child {
    border-bottom: none;
  }

  header #navegacao-busca #busca {
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    margin-left: 0;
  }

  header #navegacao-busca #busca form {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  header #informacoes figure {
    width: 50%;
  }
}