body h2{
    display: flex;
    width: 200px;
    height: auto;
    justify-content: center;
    background-color: gray;
    box-shadow: inset 0 3px 6px #ffffff, 0 4px 6px #ffffff;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    text-shadow: 
        1px -1px 0 #2f5d87,
        2px -2px 0 #2e5a83, 
        3px -3px 0 #2d5880;
}
body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

img{
    width: 80%;
}

.imagem{
    position: relative;
    width: auto;
    height: auto;
    border: 2px solid white;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#juncao{
    border:1px solid white;
}

nav div#botao{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 30px;
}

nav div#botao a{
    display: inline-block;
    border: 1px solid #4b48ff;
    padding: 10px;
    color: #4b48ff;
    text-decoration: none;
}